<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVfmC5XCDUZGTROzzsAkJkN8J9oDetNaU</string>
	<key>GCM_SENDER_ID</key>
	<string>764278851516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.tec.a00837478.OcoyucanLens</string>
	<key>PROJECT_ID</key>
	<string>ocoyucanlens-9997c</string>
	<key>STORAGE_BUCKET</key>
	<string>ocoyucanlens-9997c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764278851516:ios:6234dc59d732efff5f0db9</string>
</dict>
</plist>